<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ninja_gold/css/style.css' %}" /> 
    <title>Ninja Gold</title>
</head>
<body>
    <h1>Ninja Gold</h1>
    <h2>Your gold: {{ request.session.gold }}</h2>
    <div class='location'>
        <h4>Farm</h4>
        <h5>Earns 10-20 gold</h5>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="farm">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <div class='location'>
        <h4>Cave</h4>
        <h5>Earns 5-10 gold</h5>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="cave">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <div class='location'>
        <h4>House</h4>
        <h5>Earns 2-5 gold</h5>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="house">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <div class='location'>
        <h4>Casino</h4>
        <h5>Earns or loses 0-50 gold</h5>
        <form action="/process" method="post">
            {% csrf_token %}
            <input type="hidden" name="building" value="casino">
            <input type="submit" value="Find Gold!">
        </form>
    </div>
    <br>
    <br>
    <a href="/restart"><button>Start over</button></a>
    <div id="activities">
        <h3>Activity</h3>
        {% for a in request.session.activities reversed %}
        <p class="{{a.class}}">{{ a.activity }} ({{ a.date }})</p>
    {% endfor %}
    </div>
</body>
</html>

